<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= link_to 'Add friend', friendships_path(post), class: 'btn btn-success' %>
  </span>
</li>