<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= link_to 'Add friend', friendships_path(:id => @user.id), :method => :post, class: 'btn btn-success' %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
